extends ./layout.jade

block content
  div#login_box
    span(id='msg') Hello, World!
    form(method='POST')
      input(type='text', name='uname', placeholder='username')
      br
      input(type='password', name='pword', placeholder='password')
      br
      button(id='login', type='submit', name='submit', value='submit') Sign In
        
