extends ./layout.jade

block content
  div#login_box
    span Hello, World!
    form(method='POST')
      input(type='text', name='uname', placeholder='username')
      br
      input(type='password', name='pword', placeholder='password')
      br
      button(id='login', type='button', name='submit', value='submit', onclick='login()') Sign In
        
